body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 30px auto;
	width: 80%;
}

.app {
    text-align: center;
}

.app-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    border-radius: 10px 10px 0 0;
}

main {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.todosTable {
	width: 100%;
}