body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 30px auto;
	width: 80%;
}

.app {
    text-align: center;
}

.app-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    border-radius: 10px 10px 0 0;
}

main {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.todosTable {
	width: 100%;
}

.deleteBtn {
    background-color: #e74c3c; /* A slightly deeper shade of red */
    color: #ffffff;            /* White text color */
    border: none;              /* Remove default borders */
    border-radius: 5px;        /* Rounded corners */
    padding: 10px 15px;        /* Padding for better sizing */
    font-size: 16px;           /* Slightly larger font */
    font-weight: 600;          /* Bold font weight */
    cursor: pointer;           /* Cursor changes to hand pointer on hover */
}